<launch>

  <node pkg="haruto_controller" name="velocity_command" type="velocity_command.py" output="screen"></node>

  <node pkg="haruto_controller" name="sensor_feedback" type="sensor_feedback.py" output="screen"></node>

  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port" type="string" value="/dev/ttyUSB0" />
    <param name="serial_baudrate" type="int" value="115200" />
    <param name="frame_id" type="string" value="laser" />
    <param name="inverted" type="bool" value="false" />
    <param name="angle_compensate" type="bool" value="true" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0.04 0.14 0 0 0 1 /base_link /laser 100" />

</launch>